<!DOCTYPE HTML >
<html>
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" />
  <style>
  #subbutton{margin-top:2%}
  p{
    font-size: 1.1em;
  }
  .panel{
    border-color: rgb(87,93,99);
  }
  </style>


</head>
<body>

  <div class="container-fluid" id="inner">
    <div id="existingorg" style="margin-top:50px;" class="mainbox col-md-6 pull-right">
      <div class="alert alert-danger" id="selorg-blank-alert" hidden>

        Please select organisation!
      </div>
      <div class="panel" >
        <div class="panel-heading">
          <div class="panel-title">Select Organisation</div>

        </div>

        <div style="padding-top:30px" class="panel-body" >



          <form id="orgform" class="form-horizontal" role="form">

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="org-name" id="orname"><u>O</u>rganisation Name:</label><br/>
              <select style="border-radius: 4px" class = "form-control col-xs-12" id="org-name"  name = "orgname" accesskey="o">
                <option value="" disabled selected hidden>Select Organisation</option>
                {% for orgs in gkresult %}
                <option value="{{orgs}}">{{orgs["orgname"]}} , {{orgs["orgtype"]}}</option>
                {% endfor %}
              </select>
            </div>

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="finalyears" id="orname">Select <u>F</u>inancial Year :</label><br/>
              <select style="border-radius: 4px" class = "form-control col-xs-12" id="finalyears" name="orgcode" accesskey="f">
                <option value="" disabled selected hidden>Select Financial Year</option>
              </select>
            </div>






            <div style="margin-top:10px" class="form-group">
              <!-- Button -->

              <div class="col-sm-12 controls">
                <button id="callLogin" class="btn btn-success " accesskey="n"><span class="glyphicon glyphicon-arrow-right" style="margin-right: 5px;"></span><u>N</u>ext</button>

              </div>
            </div>

          </form>



        </div>
      </div>

    </div>




  </div>
  <hr />

  <script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
  <script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/existingorg.js')}}"></script>
</body>

</html>
